# Build files.
*.class
*.exe
*.obj

# Static analysis output.
*.plist
infer-out/

# Large test cases (some of which *might* be copyright-encumbered).
input[0-9][0-9].txt
output[0-9][0-9].txt

# Program output of large test cases (of limited use without the input).
out.txt
out[0-9][0-9].txt
out[0-9][0-9][afp].txt
