# Advent of Code input files
input

# CMake build files
build/

# Cached Python bytecode
__pycache__/

# Compiled executables in "top-level" directories
day[[:digit:]][[:digit:]]
!day[[:digit:]][[:digit:]]/
day[[:digit:]][[:digit:]][ab]
!day[[:digit:]][[:digit:]][ab]/
day[[:digit:]][[:digit:]][ab][[:digit:]]
!day[[:digit:]][[:digit:]][ab][[:digit:]]/
day[[:digit:]][[:digit:]].exe
day[[:digit:]][[:digit:]][ab].exe
day[[:digit:]][[:digit:]][ab][[:digit:]].exe
